@model IEnumerable<LeHuuKhoa.Core.Models.Post>
@{
    ViewBag.Title = "kết qủa tìm kiếm cho \"" + ViewBag.SearchKeyword + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("StartPageHeader", "Home"); }

<div class="container">
    <div class="row box">
        <div class="col-md-9" id="left">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
            @if (Model.Any())
            {
                <p>Có @Model.Count() <strong> @ViewBag.Title</strong></p>
                <ul style="list-style: none" id="ul-read">
                    @foreach (var item in Model)
                    {
                        <li>
                            <i class="fa fa-book text-info"></i>
                            @if (item.PostType == LeHuuKhoa.Core.Models.PostType.Pdf)
                            {
                                @Ajax.ActionLink(item.Title, "PdfPartialView",
                                    new {postId = item.Id, controller = "Category"},
                                    new AjaxOptions {UpdateTargetId = "container", OnBegin = "onAjaxBegin", OnComplete = "onAjaxComplete"})
                            }
                            else if (item.PostType == LeHuuKhoa.Core.Models.PostType.Content)
                            {
                                @Ajax.ActionLink(item.Title, "ContentPartialView",
                                    new {postId = item.Id, controller = "Category"},
                                    new AjaxOptions {UpdateTargetId = "container", OnBegin = "onAjaxBegin", OnComplete = "onAjaxComplete"})
                                {
                                    Html.RenderAction("FileDownLoadPartialView", "Category", new {postId = item.Id});
                                }
                            }
                            else if (item.PostType == LeHuuKhoa.Core.Models.PostType.PowerPoint)
                            {
                                @Ajax.ActionLink(item.Title, "SlideContentPartialView",
                                    new {postId = item.Id, controller = "Category"},
                                    new AjaxOptions {UpdateTargetId = "container", OnBegin = "onAjaxBegin", OnComplete = "onAjaxComplete"})
                                {
                                    Html.RenderAction("FileDownLoadPartialView", "Category", new {postId = item.Id});
                                }
                            }
                        </li>
                    }
                </ul>

                <div id="container"></div>
                <div id="loading-container" class="hide">
                    <i class="fa fa-spin fa-spinner"></i> Đang tải, Vui lòng chờ trong giây lát...
                </div>
            }

        </div>
        @{Html.RenderAction("Categories", "Category");}
    </div>
</div>

@section scripts
{
    <script>
        function onAjaxBegin() {
            $("#loading-container").removeClass("hide");
        }
        function onAjaxComplete() {
            $("#loading-container").addClass("hide");
        }

    </script>
}




