@model LeHuuKhoa.Core.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập hệ thống";
}

@section header
{
    @{Html.RenderAction("StartPageHeader", "Home");}
}
<div class="container">
    <div class="row box">
        <div class="col-md-9" id="left">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "contact" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { style="color: red" })
                <fieldset>
                    @Html.TextBoxFor(m => m.Email, new { autofocus = "autofocus", tabindex = 1, placeholder = "Email hoặc Tên đăng nhập" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { style = "color: red" })
                </fieldset>
                <fieldset>
                    @Html.PasswordFor(m => m.Password, new { tabindex = 2, placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { style = "color: red" })
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Đang gửi">Đăng nhập</button>
                </fieldset>
            }
        </div>
        @{Html.RenderAction("Categories", "Category");}
    </div>
</div>
