@model LeHuuKhoa.Core.ViewModels.PostCategoryClientViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaDescription = Model.Name;
    ViewBag.MetaKeywords = Model.Name.ToLower();
}
<div class="parallax">
    <img data-src="@Model.BackgroundImage" alt="@Model.Name">
</div>
<div class="container">
    <div class="row box">
        <div class="col-md-9" id="left">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">@Model.Name</li>
            </ol>
            @if (Model.Posts.Count > 0)
            {
                <p>Chủ mục có @Model.Posts.Count bài giảng</p>
                <ul>
                    @foreach (var item in Model.Posts)
                    {
                        <li>
                            @Ajax.ActionLink(item.Title, "PdfPartialView",
                                new { postId = item.Id },
                                new AjaxOptions { UpdateTargetId = "pdfContainer" })
                        </li>
                    }
                </ul>

                <div id="pdfContainer"></div>
            }

        </div>
        @{Html.RenderAction("Categories", "Category");}
    </div>
</div>

