@model LeHuuKhoa.Core.ViewModels.PostCategoryClientViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaDescription = Model.Name + " " + Model.Descriptions;
    ViewBag.MetaKeywords = Model.Name.ToLower();
}

<div class="parallax">
    <div class="overlay">
        <div class="text-content ">
            <div class="sm-item">
                @Html.Raw(Model.Descriptions)
            </div>
           
        </div>
    </div>
    <img data-src="@Model.BackgroundImage" alt="@Model.Name">
</div>
<div class="container">
    <div class="row box">
        <div class="col-md-9" id="left">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">@Model.Name</li>
            </ol>
            @if (Model.Posts.Count > 0)
            {
                <p>
                    Chủ mục có @Model.Posts.Count bài giảng
                    <span class="pull-right">
                        <a id="goto-comment-box" href="#comment-box"><i class="fa fa-comment"></i> Bình luận</a>
                    </span>
                </p>
                <ul style="list-style: none">
                    @foreach (var item in Model.Posts)
                    {
                        <li>
                            <i class="fa fa-book text-info"></i>
                            @if (item.PostType == LeHuuKhoa.Core.Models.PostType.Pdf)
                            {
                                @Ajax.ActionLink(item.Title, "PdfPartialView",
                                    new { postId = item.Id },
                                    new AjaxOptions { UpdateTargetId = "container", OnBegin = "onAjaxBegin", OnComplete = "onAjaxComplete" })
                            }
                            else if (item.PostType == LeHuuKhoa.Core.Models.PostType.Content)
                            {
                                @Ajax.ActionLink(item.Title, "ContentPartialView",
                                    new { postId = item.Id },
                                    new AjaxOptions { UpdateTargetId = "container", OnBegin = "onAjaxBegin", OnComplete = "onAjaxComplete" })
                                {
                                    Html.RenderAction("FileDownLoadPartialView", "Category", new { postId = item.Id });
                                }
                            }
                            else if (item.PostType == LeHuuKhoa.Core.Models.PostType.PowerPoint)
                            {
                                @Ajax.ActionLink(item.Title, "SlideContentPartialView",
                                    new { postId = item.Id },
                                    new AjaxOptions { UpdateTargetId = "container", OnBegin = "onAjaxBegin", OnComplete = "onAjaxComplete" })
                                {
                                    Html.RenderAction("FileDownLoadPartialView", "Category", new { postId = item.Id });
                                }
                            }
                            &nbsp; <i class="fa fa-eye text-info pointer" title="Lượt xem">&nbsp;Lượt xem (@item.Views) </i>
                        </li>
                    }
                </ul>

                <div id="container"></div>
                <div id="loading-container" class="hide">
                    <span class="text-warning"><i class="fa fa-spin fa-spinner"></i> Đang tải, Vui lòng chờ trong giây lát...</span>
                </div>
            }

        </div>
        @{Html.RenderAction("Categories", "Category");}
    </div>
    <div class="widget widget_categories" id="comment-box">
        <div class="fb-comments" data-href="http://vungkhaluan.somee.com/danh-muc-luan/@(Model.Id).htm" data-numposts="20"></div>
    </div>
</div>

@section scripts
{
    <script>
        function onAjaxBegin() {
            $("#loading-container").removeClass("hide");
        }
        function onAjaxComplete() {
            $("#loading-container").addClass("hide");
        }

    </script>
}
