@model LeHuuKhoa.Core.ViewModels.PostViewModel
@{
    ViewBag.AdminTitle = "Cập nhật " + Model.Title;
    Layout = "~/Areas/Administrations/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.AdminTitle</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        @using (Html.BeginForm("Update", "ManagePost", new { Area = "Administrations" }, FormMethod.Post))
        {
            <div class="col-md-6">
                <p class="alert alert-info"> <strong>*</strong> là bắt buộc.</p>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.DateUpdated)
                @Html.HiddenFor(x => x.DateCreated)
                @Html.HiddenFor(x => x.Slug)
                @Html.HiddenFor(x => x.AuthorName)
                <div class="input-group">
                    <span class="input-group-addon" data-toggle='tooltip' title="Nhập tiêu đề">
                        <i class="fa fa-user"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Tiêu đề (*)" })
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" data-toggle='tooltip' title="Danh mục bài viết">
                        <i class="fa fa-bars"></i>
                    </span>
                    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.CategoryList, "Value", "Text"), "--- Chọn danh mục ---", new { @class = "form-control" })
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" data-toggle='tooltip' title="Mô tả">
                        <i class="fa fa-book"></i>
                    </span>
                    @Html.TextAreaFor(x => x.Descriptions, new { id = "txtDescriptions", @class = "form-control", placeholder = "Mô tả (*)" })
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" data-toggle='tooltip' title="Nội dung bài viết">
                        <i class="fa fa-edit"></i>
                    </span>
                    @Html.TextAreaFor(x => x.Content, new { id = "txtContent", @class = "form-control", placeholder = "Nội dung bài viết (*)" })
                </div>
                <br />
                <div class="input-group" data-toggle='tooltip' title="Đặt là Bài viết phổ biến?">
                    <span class="checkbox-addon">
                        @Html.CheckBoxFor(x => x.IsPopularPost, new { id = "IsPopularPost" })
                    </span>
                    <label for="IsPopularPost" class="pointer">Đặt là Bài viết phổ biến?</label>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="button" onclick="window.location.href='/administrations/managepost'" class="btn btn-danger">Hủy</button>
            </div>
            <div class="col-md-6">
                <p class="alert alert-info">Thông tin dùng để SEO.</p>
                <div class="input-group">
                    <span class="input-group-addon" data-toggle='tooltip' title="Từ khóa SEO">
                        <i class="fa fa-key"></i>
                    </span>
                    @Html.TextAreaFor(x => x.MetaKeyword, new { @class = "form-control", placeholder = "Từ khóa SEO" })
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" data-toggle='tooltip' title="Mô tả về Từ khóa SEO">
                        <i class="fa fa-info"></i>
                    </span>
                    @Html.TextAreaFor(x => x.MetaDescription, new { @class = "form-control", placeholder = "Mô tả về Từ khóa SEO" })
                </div>
                <br />
            </div>
        }
    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtContent', {
                customConfig: '/Content/libs/ckeditor/config.js',
            });
        })
    </script>
}

