@model IEnumerable<LeHuuKhoa.Core.Models.Category>
@{
    ViewBag.Title = "Trang Chủ";
    ViewBag.MetaDescription = "Trang thầy khóa, Lê Hữu Khóa Blog, Giáo sư Lê Hữu Khóa";
    ViewBag.MetaKeywords = "trang thầy khóa, lê hữu khóa, lê hữu khóa blog lê hữu khóa";
}
@section header
{
    @{Html.RenderAction("StartPageHeader", "Home");}
}

<div class="container">
    <div class="row box">
        @foreach (var category in Model)
        {
            <div class="col-md-15 col-xs-3">
                <div class="box-body">
                    <a href="@Url.Action("Read", "Category", new {id = category.Id})">
                        <img class="match-parent" data-src="@category.Avatar" alt="@category.Name">
                    </a>
                    <div class="title-overlay">
                        <a href="@Url.Action("Read", "Category", new {id = category.Id})"> @category.Name </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>